.dev-card {
    height: max-content;
    width: 90%;
    max-width: 750px;
    background: rgb(255, 179, 49);
    background: linear-gradient(180deg, rgba(255, 179, 49, 1) 0%, rgba(243, 231, 219, 1) 100%);
    border-radius: 20px;
    z-index: 2;
    padding: 5px 5px 10px 5px;
    margin-top: 80px;

    .devCard-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;

        @media screen and (min-width:599px) {
            height: 10vh;
        }

        .close {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            text-transform: uppercase;
            margin-right: 5px;
            background-color: rgba(255, 255, 255, 0.51);
            border-radius: 50%;
            cursor: pointer;
        }

        .title {
            display: flex;
            gap: 5px;
            padding: 5px;
            justify-content: center;
            align-items: center;
            margin: auto;

            h2 {
                font-family: $roboto;
                font-size: 1rem;
                color: white;
                text-transform: uppercase;

                @media screen and (min-width:599px) {
                    font-size: 1.5rem;
                }

            }

            img {
                width: 20px;
                height: 20px;

                @media screen and (min-width:599px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .container {
        max-width: 650px;
        margin: auto;

        @media screen and (min-width: 599px) {
            display: grid;
            grid-template-columns: 3fr, 1fr;
            align-items: center;
            height: 70vh;
        }

        .avatar {
            height: 12vh;
            margin: auto;
            width: max-content;

            @media screen and (min-width: 599px) {
                width: 100%;
                height: 65vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.51);
                border-radius: 10px;
                grid-column-start: 2;
                grid-column-end: 3;
            }

            figure {
                height: 30vh;

                @media screen and (min-width: 599px) {
                    height: 60vh;
                }

                img {
                    height: 100%;
                }
            }
        }

        .infos {
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media screen and (min-width: 599px) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                width: 100%;
            }

            .identity {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .first-name,
            .last-name,
            .age,
            .realisation-number,
            .starting-date,
            .diplome,
            .formation,
            .post,
            .phone,
            .email {
                width: 100%;
                max-width: 350px;
                margin: 0 auto 5px;
                display: flex;
                justify-content: space-between;
                background-color: rgba(255, 255, 255, 0.51);
                padding: 5px;
                border-radius: 5px;
                box-shadow: white 2px 2px 2px;

                @media screen and (min-width:599px) {
                    width: 300px;
                }

                p {
                    font-family: $roboto;
                    display: flex;
                    align-items: center;

                    &:nth-of-type(1) {
                        font-weight: bold;
                    }

                    &:nth-of-type(2) {
                        text-align: right;
                    }
                }
            }
        }

        .first-name,
        .last-name,
        .age,
        .realisation-number,
        .starting-date,
        .phone {
            @media screen and (min-width:599px) {
                width: 250px !important;
                margin: unset !important;
            }
        }

        // .starting-date,
        .diplome,
        .formation,
        .post,
        .email {
            @media screen and (min-width:599px) {
                width: 90% !important;
                max-width: unset !important;
                margin: unset !important;
            }
        }
    }
}