.header {
    height: 15vh;
    position: absolute;
    width: 100%;

    .navbar {
        height: 12vh;
        width: 90%;
        max-width: 400px;
        margin: 10px auto 10px;
        background: linear-gradient(90deg, rgba(185, 211, 224, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 1) 91%, rgba(185, 211, 224, 1) 100%);
        border: solid 2px black;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            width: 85%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;

            li {
                cursor: pointer;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .pokedex {
                    background-color: #F37C34;
                }

                .pokeball {
                    background-color: #D26D6C;
                }

                .dresseur {
                    background-color: #F4D249;
                }

                .cv {
                    background-color: #75C86B;
                }

                figure {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;

                    img {
                        width: 25px;
                        height: 25px;
                        // transform: rotate(-30deg);
                    }
                }

                p {
                    text-align: center;
                    font-family: $roboto;
                }
            }
        }
    }
}