.home {
    position: relative;
    min-height: 100vh;
    background-image: url('../../assets/img/background-home.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .ball-off {
        position: absolute;
    }

    .ball {
        position: absolute;
        animation: rotate 1s infinite linear;

        @keyframes rotate {
            0% {
                transform: rotate(0) scale(1);
            }

            50% {
                transform: rotate(180deg) scale(.9);
            }

            100% {
                transform: rotate(360deg) scale(.9);
            }
        }
    }
}