.home {
    position: relative;
    min-height: 100vh;
    background-image: url('../../assets/img/background-home.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .home-title {
        z-index: 9;
        width: 90%;
        max-width: 500px;
        text-align: center;
        align-self: flex-start;
        margin-top: 17vh;

        h1 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: $pocketMonk;
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: white;
            letter-spacing: 1.5px;

            @media screen and (min-width: 1199px) {
                font-size: 2rem;
            }

            .second-line {
                font-size: 1rem;
                max-width: 270px;
                margin: auto;
                display: flex;
                flex-direction: column;
                
                @media screen and (min-width: 1199px) {
                    max-width: 375px;
                    font-size: 1.5rem;
                }

                .role {
                    display: flex;
                    justify-content: center;

                    img {
                        float: right;
                        width: 20px;
                        height: 20px;
                    }
                }

            }
        }
    }

    .ball-off {
        position: absolute;
    }

    .ball {
        position: absolute;
        animation: rotate 1s infinite linear;

        @keyframes rotate {
            0% {
                transform: rotate(0) scale(1);
            }

            50% {
                transform: rotate(180deg) scale(.9);
            }

            100% {
                transform: rotate(360deg) scale(.9);
            }
        }
    }
}