.dialogue {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/background-dialogue.svg');
    background-size: cover;
    background-position: center;

    .container {
        position: relative;
        width: 100%;

        .personnage {
            height: 70vh;
            width: max-content;
            margin: auto;

            img {
                height: 100%;
            }
        }

        .message-container {
            position: absolute;
            width: 90%;
            max-width: 500px;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 70%;
            border: 2px solid black;
            background-color: #78a0f8;
            padding: 5px;
            border-radius: 10px;

            .message {
                position: relative;
                padding: 5px;
                padding-bottom: 20px;
                border: 2px solid transparent;
                border-radius: 10px;
                background-color: white;
                font-family: $roboto;

                @keyframes opacity {
                    0% {
                        opacity: 1;
                    }

                    50% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                .next {
                    position: absolute;
                    bottom: 0;
                    right: 5px;
                    animation: opacity linear infinite 1s;
                }
            }
        }
    }
}