.welcome-page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url('../../assets/img/fond2.png');
    background-position: center;
    background-size: cover;

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .container-img {

            .title {
                width: 200px;
                margin: auto;
                @media screen and (min-width:500px) {
                    width: 300px;
                }
                @media screen and (min-width:1000px) {
                    width: 500px;
                }
                @media screen and (min-width:1500px) {
                    width: 700px;
                }

                img {
                    width: 100%;
                }
            }

            .logo {
                width: 50px;
                margin: auto;
                @media screen and (min-width:500px) {
                    width: 70px;
                }
                @media screen and (min-width:1000px) {
                    width: 100px;
                }
                @media screen and (min-width:1500px) {
                    width: 130px;
                }

                img {
                    width: 100%;
                }
            }
        }

        .next,
        .copyright {
            font-family: $pokemonGB;
        }

        @keyframes opacity {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        .next {
            p {
                width: max-content;
                margin: auto;
                font-size: .7rem;
                animation: opacity infinite 2s ease-in-out;
                cursor: pointer;

                @media screen and (min-width: 500px) {
                    font-size: 1rem ;
                }
            }
        }

        .copyright {
            width: max-content;
            margin: auto;
            display: flex;
            font-size: .6rem;
            @media screen and (min-width: 500px) {
                font-size: .8rem ;
            }
        }
    }

    .background1,
    .background2 {
        background-image: url('../../assets/img/welcome-background.png');
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .background1 {
        animation: background1 20s linear infinite;
    }

    .background2 {
        top: 0;
        bottom: 0;
        left: 100%;
        animation: background2 20s linear infinite;
    }

    @keyframes background1 {
        0% {
            right: 0;
        }
        100% {
            right: 100%;
        }
    }

    @keyframes background2 {
        0% {
            left: 100%;
        }

        100% {
            left: 0;
        }
    }
}