@font-face {
    font-family: 'Pocket Monk';
    src: url('../assets/fonts/Pocket\ Monk.otf');
}

@font-face {
    font-family: 'Pokemon GB';
    src: url('../assets/fonts/Pokemon\ GB.ttf');
}

@font-face {
    font-family: 'Pokemon Solid';
    src: url('../assets/fonts/Pokemon\ Solid.ttf');
}

$pokemonSolid: 'Pokemon Solid';
$pokemonGB: 'Pokemon GB';
$pocketMonk: 'Pocket Monk';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}