.realisations-list {
    background-image: url('../../assets/img/background-readex.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 10px;

    .container {
        height: 50vh;
        display: flex;
        gap: 10px;
        align-items: center;
        overflow: scroll;

        .realisation {
            flex: 0 0 auto;
            height: 45vh;
            width: 70px;
            margin-top: 5vh;
            background-color: #bab798;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            box-shadow: #1d293c60 5px 5px;
            color: black;
            border-radius: 5px;
            border-left: solid white 2px;
            border-top: solid white 2px;
            border-bottom: solid rgba(0, 0, 0, 0.451) 2px;
            border-right: solid rgba(0, 0, 0, 0.451) 2px;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                margin-top: 0;
            }

            &:first-child {
                margin-left: 20px;
            }

            &:last-child {
                margin-right: 10px;
            }

            .icons {
                width: 100%;
                height: 10vh;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: center;
                align-items: center;
                border-bottom: 5px solid #ccf334;

                i {
                    font-size: 3vh;
                    margin: auto;
                }
            }

            .name {
                height: 30vh;
                text-align: center;
                writing-mode: vertical-lr;
            }

            .id {
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 5px solid #ccf334;
                width: 100%;
                height: 10vh;
            }
        }

        .empty-realisation {
            height: 45vh;
            width: 70px;
            margin-top: 5vh;
            border: white 2px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.158);

            p {
                height: 100%;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                writing-mode: vertical-lr;
                color: white;
            }
        }
    }

}
